/* HEADING */

h1, h2 {
    text-align: center;
}

/* BUTTONS */

button {
    box-shadow:none !important;
}

.btn {
    border-radius: 5%;
    color: white;
}

/* MAIN FORM */
form {
    background-color: #fafafa;
    border: 1px solid #C0C0C0;
    border-radius: 1%;
}

.form-group {
    padding: 10px;
}

.btn-submit {
    padding: 10px;
    display: block;
    background-color: blue;
    color: white;
}

.btn-append {
    border-radius: 5%;
}

.btn-status {
    background-color: #5bc0de; 
}

.btn-close {
    background-color: #ffcc00;
}

.btn-delete {
    background-color: red;
}

.issues {
    margin: 2% 0;
}

.field {
    display: inline;
}

label {
    display: block;
}

input, select {
    width: 96% !important;
}

/* LIST ITEMS */

.li-inline {
    display: inline-block;
}

ul {
    width: 50%;
}

li {
    list-style-type: none;
    margin: 2%;
}

.li-dog {
    background: url("ms-icon-dog-mini.png") 0 50% no-repeat;
    padding-left: 36px;
}

.li-urg {
    background: url("ms-icon-urg-mini.png") 0 50% no-repeat;
    padding-left: 36px;
}

.li-pet {
    background: url("ms-icon-pet-mini.png") 0 50% no-repeat;
    padding-left: 36px;
}

#btm {
    text-align: center;
    margin: 2% 0;
}