/* BUTTONS */
.btn {
    border-radius: 5%;
    color: white;
}

/* MAIN FORM */
form {
    background-color: #D3D3D3;
    border: 1px solid #C0C0C0;
    border-radius: 5%;
    margin: 10px;
}
    
.form-group {
    padding: 10px;
}

.btn-submit {
    padding: 10px;
    display: block;
    background-color: blue;
    color: white;
}

.btn-append {
    border-radius: 5%;
}

.btn-status {
    background-color: #5bc0de; 
}

.btn-close {
    background-color: #ffcc00;
}

.btn-delete {
    background-color: red;
}

.issues {
    margin: 5%;
}

.li-inline {
    display: inline-block;
}
